#modalButton {
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 4px;
    background: rgb(29, 196, 0);
    background: linear-gradient(90deg, rgba(29, 196, 0, 1) 0%, rgba(152, 255, 166, 1) 0%, rgba(193, 255, 183, 1) 36%, rgba(139, 255, 156, 1) 79%, rgba(61, 255, 118, 1) 100%);
    color: black;
    outline-color: darkgray;
    box-shadow: darkgray;
}

#payButton {
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 4px;
    background: rgb(29, 196, 0);
    background: linear-gradient(90deg, rgba(29, 196, 0, 1) 0%, rgba(152, 255, 166, 1) 0%, rgba(193, 255, 183, 1) 36%, rgba(139, 255, 156, 1) 79%, rgba(61, 255, 118, 1) 100%);
    color: black;
}

.child {}