<div class="container">




    <div class="container">
        <div *ngIf="bill">

            <table class="child">
                <thead>
                    <th>
                        {{bill.recipient}} Details
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>Provider: </td>
                        <td>{{bill.recipient}}</td>
                    </tr>
                    <tr>
                        <td>Service: </td>
                        <td>{{bill.purpose}}</td>
                    </tr>
                    <tr>
                        <td>Current Balance: </td>
                        <td>{{bill.amount}}</td>
                    </tr>
                    <tr>
                        <td>Date Due: </td>
                        <td>{{bill.initialBillDate}}</td>
                    </tr>

                </tbody>


            </table>

        </div>Ï
    </div>
</div>
<div class="container">
    <!-- Trigger the modal with a button -->
    <button type="button" id="modalButton" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Remove
        Bill</button>
    <button type="button" id="payButton" class="btn btn-info btn-md">Mark bill as paid</button>
    <button type="button" id="payButton" class="btn btn-info btn-md">Mark paid from acct.</button>

    <!-- Modal -->
    <div class="modal fade grey" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Confirm Bill Removal</h4>
                </div>
                <div class="modal-body">
                    <p>All records of this bill will be removed, and removal cannot be undone. Are you sure you would like to remove this bill from your tracking service? </p>
                </div>
                <div class="modal-footer">

                    <button type="button z-depth-5" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button z-depth-5" class="btn btn-default" (click)="remove(bill.billId)" data-dismiss="modal">Remove Bill</button>
                </div>
            </div>

        </div>
    </div>

</div>